/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 1% 2%;
  margin: 0 auto;
  background-color: #C62828;
  color: white;
}
nav .navigation {
  display: flex;
  justify-content: flex-end;
}
nav .navigation a {
  font-size: 1.8rem;
  text-decoration: none;
  width: auto;
  color: white;
  padding: 0 2%;
}
.intro {
  display: flex;
  flex-direction: column;
}
.intro .barbell {
  width: 100%;
  height: 35vh;
  margin: 0 auto;
  object-fit: cover;
  object-position: center 80%;
}
@media ( max-width: 600px ) {
  .intro .barbell {
    height: 20vh;
  }
}
.intro .summary {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3%;
}
.intro .summary .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C62828;
  color: #F6F7F8;
  font-size: 1.8rem;
  width: 105px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2%;
}
.intro .summary .btn:hover {
  background-color: #F6F7F8;
  color: #C62828;
}
.topSection {
  display: flex;
  flex-direction: column;
}
.topSection .strong {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}
@media ( max-width: 600px ) {
  .topSection .strong {
    display: flex;
    flex-direction: column;
  }
}
.topSection .strong .squat {
  width: 40%;
  object-fit: cover;
  object-position: center 80%;
}
@media ( max-width: 600px ) {
  .topSection .strong .squat {
    margin: 0 auto;
    width: 80%;
  }
}
.topSection .lean {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}
@media ( max-width: 600px ) {
  .topSection .lean {
    display: flex;
    flex-direction: column-reverse;
  }
}
.topSection .lean .group {
  width: 40%;
  object-fit: cover;
  object-position: center 80%;
}
@media ( max-width: 600px ) {
  .topSection .lean .group {
    margin: 0 auto;
    width: 80%;
  }
}
.bottomSection {
  display: flex;
  flex-direction: column;
}
.bottomSection .healthy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}
@media ( max-width: 600px ) {
  .bottomSection .healthy {
    display: flex;
    flex-direction: column;
  }
}
.bottomSection .healthy .dumbbells {
  width: 40%;
  object-fit: cover;
  object-position: center 80%;
}
@media ( max-width: 600px ) {
  .bottomSection .healthy .dumbbells {
    margin: 0 auto;
    width: 80%;
  }
}
.bottomSection .better {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}
@media ( max-width: 600px ) {
  .bottomSection .better {
    display: flex;
    flex-direction: column-reverse;
  }
}
.bottomSection .better .rows {
  width: 40%;
  object-fit: cover;
  object-position: center 80%;
}
@media ( max-width: 600px ) {
  .bottomSection .better .rows {
    margin: 0 auto;
    width: 80%;
  }
}
.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
  padding: 8% 0;
}
@media ( max-width: 600px ) {
  .text {
    margin: 0 auto;
    width: 80%;
  }
}
